body {
    background-color: #ffffff;
    font-family: Tahoma, Arial, Verdana, sans-serif;
}

a:link, a:visited {
    color: #4040ff;
}

.paginator {
    background-color: #efefef;
    color: #202020;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 25px;
    border-radius: 1em 1em;
    -moz-border-radius: 1em 1em;
    -khtml-border-radius: 1em 1em;
    -webkit-border-radius: 1em 1em;
}

.paginator a:link, .paginator a:visited {
    text-decoration: none;
}

td {
    vertical-align: top;
    padding-right: 15px;
    padding-bottom: 5px;
}
th {
    text-align: left;
}

.postslist tr {
    line-height: 2em;
}

.flash-info {
    background: #a0ffa0;
    padding: 0.5em;
    border: 2px solid #00ff00;
    font-weight: bold;
}

.flash-error {
    background: #ffa0a0;
    padding: 0.5em;
    border: 2px solid #ff0000;
    font-weight: bold;
}

.error, .errors {
    background: #F0D6D6;
    padding: 0.5em;
    border: 2px solid red;
}

.errors li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.errors {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.odd {
    background: #dcf3ff;
}

.sidebar {
    background-color: #000000;
    color: #ffffff;
}

.sidebar a:link, .sidebar a:visited {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.page .container {
    padding: 5px;
}

textarea, input[type=text], input[type=password] {
    width: 100%;
}
