{% extends "admin/default/layout.html" %}
{% from "admin/default/_formhelpers.html" import render_field %}
{% block body %}
<h1>{% if page %}{{ page.title }}{% endif %}</h1>
<p>
    {% if session.username %}
    <form action="{% if page %}{{ url_for('save_page', page_id=page.id) }}{% else %}{{ url_for('save_page') }}{% endif %}" method=post class=save-page>
        {{ form.csrf }}
        <table style="width:100%">
            {{ render_field(form.title) }}
            {% if page %}
            <tr><td>Creation date:</td><td>{{ page.createdate|strftime(config.POST_DATETIME_FORMAT) }}</td></tr>
            <tr><td>Last modified:</td><td>{{ page.lastmoddate|strftime(config.POST_DATETIME_FORMAT) }}</td></tr>
            {% endif %}
            {{ render_field(form.pubdate) }}
            {{ render_field(form.format) }}
            {{ render_field(form.status) }}
            {{ render_field(form.content, rows=40, cols=80) }}
        </table>
        <input type="submit" value="Save" />
    </form>
    {% endif %}
</p>
{% endblock %}
