{% extends "admin/default/layout.html" %}
{% block body %}

<h2>{{ config.ENTRIES_PER_PAGE }} most recent posts:</h2>
<table style="width:100%;" class="postslist">
<tr><th style="width:150px;">creation date</th><th style="width: 150px;">publication date</th><th>title</th></tr>
  {% for post in posts[0:config.ENTRIES_PER_PAGE] %}
    <tr class="{{ loop.cycle('odd', 'even') }}"><td>{{ post.createdate|strftime(config.POST_DATETIME_FORMAT) }}</td><td>{% if post.pubdate %}{{ post.pubdate|strftime(config.POST_DATETIME_FORMAT) }}{% endif %}</td><td><a href="{{ url_for('edit_post', post_id=post.id) }}">{{ post.title }}</a></td></tr>
  {% else %}
    <li><em>No posts found.</em>
  {% endfor %}
</table>
<strong><a href="{{ url_for('posts_list', page=2) }}">older posts &raquo;</a></strong>

<hr />

<h2>{{ config.ENTRIES_PER_PAGE }} most recent pages:</h2>
<table style="width:100%;" class="postslist">
<tr><th style="width:150px;">creation date</th><th style="width:150px;">publication date</th><th>title</th></tr>
  {% for page in pages[0:config.ENTRIES_PER_PAGE] %}
    <tr class="{{ loop.cycle('odd', 'even') }}"><td>{{ page.createdate|strftime(config.POST_DATETIME_FORMAT) }}</td><td>{% if page.pubdate %}{{ page.pubdate|strftime(config.POST_DATETIME_FORMAT) }}{% endif %}</td><td><a href="{{ url_for('edit_page', page_id=page.id) }}">{{ page.title }}</a></td></tr>
  {% else %}
    <li><em>No pages found.</em>
  {% endfor %}
</table>
<strong><a href="{{ url_for('pages_list', page=2) }}">older pages &raquo;</a></strong>
{% endblock %}
