<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"  />
        <title>{{ config.TITLE }} Admin</title>
        <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="page">
            <h1><a href="/{{ config.PREFIX }}">{{ config.TITLE }} Admin</a></h1>

            {% if session.user_id %}
            <div class=metanav>
                Welcome <strong>{{ session.username }}</strong>. <a href="{{ url_for('logout') }}">log out</a> | <a href="{{ url_for('edit_post') }}">new post</a>
            </div>
            {% endif %}

            {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
