{% extends "frontend/default/layout.html" %}
{% block body %}
  <ul class=posts>
  {% for post in posts %}
    <li><h2>{{ post[0].pubdate|strftime(config.POST_DATETIME_FORMAT) }} <a href="{{ url_for('show_post', slug=post[0].slug, year=post[0].year, month=post[0].month, day=post[0].day) }}">{{ post[0].title }}</a></h2>
        <p>
        {% if config.SUMMARIES %}
        {% if post[0].summary %}{{ post[0].summary_html|safe }}{% endif %}
        {% else %}
        {{ post[0].content_html|safe }}
        {% endif %}
        </p>
  {% else %}
    <li><em>Unbelievable.  No posts here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
